{% extends "layout.html" %}

{% block content %}
<div class="kiri">
                <h1> Joker </h1>
                <ul>
                    <li> Dapatkan Pendapatan Tambahan </li>
                    <li> Menyesuaikan Dengan Waktu Yang Anda Punya </li>
                    <li> Tanpa Menganggu Pekerjaan Utama Anda </li>
                </ul>
            </div>

           <div class="konten">
               <form action="login_proses.php" method="POST">
                  <table align="center">
                    <tr> 
                      <td> Silahkan Login </td> 
                    </tr> 
                    <tr> 
                        <td>
                        <input type="text" name="user" placeholder="Nama Pengguna, E-Mail" required/> 
                        </td> 
                    </tr>
                    <tr> 
                        <td>
                        <input type="password" name="password" placeholder="kata sandi" required/> 
                        </td> 
                    </tr> 
                    <tr> 
                        <td align="center">
                        <input type="submit" class="button" value="Masuk"/> 
                        </td> 
                    </tr>
                    <tr>
                        <td style="font-size: 0.8em"> <a href="lupa_akun.html"> Lupa Kata Sandi ? </a> </td>
                    </tr>
                    <tr>
                        <td style="font-size: 1em"> Belum Punya Akun ? Daftar <a href="daftar.html">Disini </a> </td>
                    </tr>
                  </table>
               </form>                
              <br> <br> <br> <br>
           </div>
           <div class="bawah">
            Created &copy; By One
           </div>

{% endblock %}
